<?xml version="1.0" encoding="UTF-8"?>
<widget>
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="3000" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="SplashShowOnlyFirstTime" value="false" />
    <preference name="FadeSplashScreenDuration" value="300" />
    <preference name="SplashScreenBackgroundColor" value="#ffffff" />
</widget>
